.row{
    display:flex;
    justify-content: space-between;
}
.h1{
    color: white ;
   
}
.h2{
    color:blueviolet
}
.block{
    background-color: black;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 00.5rem;
}